@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
  Layout = "_Layout";
  var username = HttpContextAccessor.HttpContext.Session.GetString("_Username");
}

<div class="content">
  <div class="content__header">
    <div class="content__header-top">
      @{
        if (@username == null)
        {
          <p>
            <a asp-action="Login" asp-controller="Member">Login</a>
            /
            <a asp-action="Signup" asp-controller="Users">Signup</a>
          </p>
        }
        else
        {
          <a asp-action="Profile" asp-controller="Member">@username</a>
        }
      }
    </div>
    <div class="content__header-poster"></div>
  </div>
  <div class="content__section">
    <div class="welcome-note">
      <p>
        A library is a collection of materials, books or media that are easily accessible for use and not just for display purposes. It is responsible for housing updated information in order to meet the user's needs on a daily basis. A library provides physical (hard copies documents) or digital access (soft copies) materials, and may be a physical location or a virtual space, or both.
      </p>
    </div>
    <h2 style="user-select: none;">Latest Books</h2>
    <div class="row-items">
      <a href="Book">
        <div class="shadow book-item">
          <img src="https://images-na.ssl-images-amazon.com/images/I/91Y6gyoK8ZL.jpg" />
          <div class="description">
            <strong>Chain of Iron</strong>
            <p>Cassandra Clare</p>
          </div>
        </div>
      </a>
      <a href="Book">
        <div class="shadow book-item">
          <img src="https://images-na.ssl-images-amazon.com/images/I/91Y6gyoK8ZL.jpg" />
          <div class="description">
            <strong>Chain of Iron</strong>
            <p>Cassandra Clare</p>
          </div>
        </div>
      </a>
      <a href="Book">
        <div class="shadow book-item">
          <img src="https://images-na.ssl-images-amazon.com/images/I/91Y6gyoK8ZL.jpg" />
          <div class="description">
            <strong>Chain of Iron</strong>
            <p>Cassandra Clare</p>
          </div>
        </div>
      </a>
      <a href="Book">
        <div class="shadow book-item">
          <img src="https://images-na.ssl-images-amazon.com/images/I/91Y6gyoK8ZL.jpg" />
          <div class="description">
            <strong>Chain of Iron</strong>
            <p>Cassandra Clare</p>
          </div>
        </div>
      </a>
      <a href="Book">
        <div class="shadow book-item">
          <img src="https://images-na.ssl-images-amazon.com/images/I/91Y6gyoK8ZL.jpg" />
          <div class="description">
            <strong>Chain of Iron</strong>
            <p>Cassandra Clare</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>