
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    Layout = "_Layout";
}

<div class="content">
    <div class="content__header">
      <div class="content__header-top">
        <a href="/Login">Login</a>
        /
        <a href="/Signup">Signup</a>
      </div>
      <div class="content__header-poster"></div>
    </div>
    <div class="content__section">
      <h2>Latest Books</h2>
      <div class="row-items">
        <a href="Book">
        <div class="shadow book-item">
          <img
            src="https://images-na.ssl-images-amazon.com/images/I/91Y6gyoK8ZL.jpg"
          />
          <div class="description">
            <strong>Chain of Iron</strong>
            <p>Cassandra Clare</p>
          </div>
        </div>
        </a>
        <a href="Book">
        <div class="shadow book-item">
          <img
            src="https://images-na.ssl-images-amazon.com/images/I/91Y6gyoK8ZL.jpg"
          />
          <div class="description">
            <strong>Chain of Iron</strong>
            <p>Cassandra Clare</p>
          </div>
        </div>
        </a>
        <a href="Book">
        <div class="shadow book-item">
          <img
            src="https://images-na.ssl-images-amazon.com/images/I/91Y6gyoK8ZL.jpg"
          />
          <div class="description">
            <strong>Chain of Iron</strong>
            <p>Cassandra Clare</p>
          </div>
        </div>
        </a>
        <a href="Book">
        <div class="shadow book-item">
          <img
            src="https://images-na.ssl-images-amazon.com/images/I/91Y6gyoK8ZL.jpg"
          />
          <div class="description">
            <strong>Chain of Iron</strong>
            <p>Cassandra Clare</p>
          </div>
        </div>
        </a>
        <a href="Book">
        <div class="shadow book-item">
          <img
            src="https://images-na.ssl-images-amazon.com/images/I/91Y6gyoK8ZL.jpg"
          />
          <div class="description">
            <strong>Chain of Iron</strong>
            <p>Cassandra Clare</p>
          </div>
        </div>
        </a>
      </div>
    </div>
  </div>