@model LMS2.Models.BookCreate;


<a asp-action="BookDetail?id=@Model.BookID">
    <div class="shadow book-item">
        <img src="https://images-na.ssl-images-amazon.com/images/I/91Y6gyoK8ZL.jpg" />
        <div class="description">
            <strong>@Model.BookName</strong>
            <p>@Model.Author</p>
        </div>
    </div>
</a>