@model LMS2.Models.BookCreate;


<a href="BookDetail/@Model.BookID">
    <div class="shadow book-item">
        <img src="/Image/@Model.Image" onerror="this.src = '/assets/ImagePlaceholder.png'" />
        <div class="description">
            <strong>@Model.BookName</strong>
            <p>@Model.Author</p>
        </div>
    </div>
</a>