@model IEnumerable<BookCreate>
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    Layout = "_Layout";
    ViewData["Title"] = "View Books";
    var username = HttpContextAccessor.HttpContext.Session.GetString("_Username");
}


@await Html.PartialAsync("_HeaderPartial", username)


<div class="container book-list">
    @foreach (var item in Model)
    {
        @await Html.PartialAsync("_BookPartial", item)
    }
</div>