@model IEnumerable<LMS2.Models.UserRegistration>;
@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    Layout = "_Layout";
    ViewData["Title"] = "Users List";
}

@await Html.PartialAsync("_HeaderPartial", @HttpContextAccessor.HttpContext.Session.GetString("_Username"))

<div class="center">
    <div class="list-container shadow">
        @{
            var i = 1;
            foreach(var item in Model) {
                @await Html.PartialAsync("_UserItemPartial", item, new ViewDataDictionary(ViewData){
                    {"class", i % 2 == 0 ? "even" : "odd"}
                })
            }
        }
    </div>
</div>