:root {
    --shadowgrey: #C7C7C7;
    --textPrimary: black;
    --linkPrimary: black;
    --borderColor: #ECECEC;
    --purple: #C277B2;
    --green: #6AB69B;
    --yellow: #D4C386;
    --oddItem: #F9D8F2;
    --evenItem: #D5EEF4;
}